{% for n, word in numbers %}
---
name: {{ n }}-0
description: macht aus {{ word }}-X, eine {{ n }}er-Gruppe.
pattern: {{ word }}
output: |
  {head}
  <span style="display: flex; flex-direction: row;">
      <span>&nbsp;{tail}*</span>{% for i in range(n-1) %}
      <span>{tail}*</span>{% endfor %}
  </span>
---
name: {{ n }}-1
description: macht aus {{ word }}-X, eine {{ n }}er-Gruppe.
pattern: {{ word }}
output: |
  {head}
  <span style="display: flex; flex-direction: column;">
  {% for i in range(n) %}<span>{tail}*</span>
  {% endfor %}</span>
{% endfor %}
